<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="com.acn.Address">
        <property name="address" value="芜湖"/>
    </bean>

    <bean id="student" class="com.acn.Student">

        <!--普通值-->
        <property name="name" value="acn"/>

        <!--Bean-->
        <property name="address" ref="address"/>

        <!--数组-->
        <property name="books">
            <array>
                <value>书1</value>
                <value>书2</value>
            </array>
        </property>

        <!--List-->
        <property name="hobbies">
            <list>
                <value>敲代码</value>
            </list>
        </property>

        <!--Map-->
        <property name="card">
            <map>
                <entry key="身份证" value="123"/>
                <entry key="学生证" value="456"/>
            </map>
        </property>

        <!--Set-->
        <property name="games">
            <set>
                <value>LOL</value>
                <value>COC</value>
                <value>BOB</value>
            </set>
        </property>

        <!--null-->
        <property name="wife">
            <null/>
        </property>

        <!--properties-->
        <property name="info">
            <props>
                <prop key="学号">123</prop>
                <prop key="班级">114514</prop>
            </props>
        </property>
    </bean>
    <!--p命名空间，不要注入非基本类型的属性-->
    <!--这个p:card="身份证:123,学生证:456"就注入不了，
    报错java.lang.IllegalStateException: Cannot convert value of type 'java.lang.String' to required type 'java.util.Map' for property 'card'
    -->
    <bean id="stu" class="com.acn.Student"
          p:name="aca"
          p:address-ref="address"
          p:books="书1,书2"
          p:hobbies="兴趣1,兴趣2"
          p:games="LOL,COC,BOB"
          p:info="学号:123,班级:114514"
    >
    </bean>


<!--    注入不存在的构造器会报错【我只有全参和无参构造】-->
    <bean id="stuC" class="com.acn.Student"
          c:name="stuC"
    >
    </bean>

    <bean id="addressC" class="com.acn.Address"
          c:address="构造器注入地址"
    />
</beans>